/* natural box model */

/* COLORS 
#283891 - BLUE - rgb(40, 56, 145)
#fff200 - YELLOW - rgb(255, 242, 0) */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Browser Upgrade Prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* ETC  */
  /* general  */
  .container {
    max-width: 1250px;
    display: block;
    margin: 4.0em auto;
    text-align: center;
    padding: 2.0em 5.0em;
    background-color: whitesmoke;
  }

  body{
      margin: 0;
      padding: 0;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
  }

  p, a{
    font-family: 'Poppins', sans-serif;
  }

/* images */

/* logo  */
.logo {
    height: 125px;
    width: 125px;
    margin: 2.0em auto 0 auto;
}

/* dividing images sections*/
.uxImg{
    height: 500px;
    background-image: url('../images/general/ux.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contactImg{
    height: 500px;
    background-image: url('../images/general/contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.stock-img p{
    font-size: 12px;
}

/* navgation bar */
.navbar{
    display: flex;
    justify-content: center;
    margin: 3.0em 0;
    background-color: white;
}

.navbar .icon{
    color: black;
}

/* links in navigation */
.navbar a{
    padding: 12px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: blue;
}

/* hovering over link  */
.navbar a:hover {
    color: #283891;
    cursor: pointer;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
  }

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  /* back to top button */
  #backTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 70px;
    height: 70px;
    font-size: 12px;
  }
  
  #backTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    cursor: pointer;
  }

  /* GENERAL */
  .col{
    flex: 1;
    padding: 1em;
    /* border: solid; */
}

/* header */

#header{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
    margin-bottom: 2.0em;
}

#header h1{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 96px;
    margin: 20px 0;
}

#header h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

/* home */
#home{
    background-color: red;
}

/* projects */
/* #projects{
    background-color: white;
} */

#projects h2{
    /* margin-bottom: 0.75em; */
    text-decoration: underline;
    font-style: italic;
}

.proj-header{
    margin-bottom: 4.0em;
}

.proj-container {
    /* max-width: 1250px; */
    display: block;
    margin: 4.0em auto;
    text-align: center;
    padding: 2.0em 5.0em;
    background-color: whitesmoke;
}

.project{
    /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
  padding-bottom: 0.5em;
}

/* On mouse-over, add a deeper shadow */
.project:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.6);
}

/* Add some padding inside the card container */
.proj-info {
    margin: 0.5em auto;
}

.myProjects{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 2.0em 0 4.0em;
}

.myProjects a{
    text-decoration: none;
    color: black;
}

.proj-img{
    width: 500px;
    height: 500px;
    /* margin: 0 auto 0.5em; */
}

.process-desc, .contact-item, .skills, .about-info{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2.0em;
}

/* the text inside the descriptions  */
.process-desc p, .process-desc h2{
    text-align: left;
}

/* the image for projects and process  */
.process-desc img{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

#projects p, #process p, #about p{
    line-height: 1.5em;
    margin-top: 0.25em;
}

.col h3{
    padding-bottom: 0.5em;
}

.ux, .web-cs, .multimedia{
    margin-bottom: 2.0em;
}

/* process */

.process-icon{
    display: none;
}

/* resume */
#resume{
    background-color: white;
}

.resume-header{
    text-align: center;
}

.res-dl{
    display: inline-block;
    margin-top: 15px;
    color: blue;
}

.res-dl:hover{
    color: #283891;
    cursor: pointer;
    /* border: 1px solid black; */
}

/* timeline  itself*/
.timeline{
    position: relative;
    margin: 50px auto;
    padding: 0;
    width: 1000px;
    box-sizing: border-box;
}

/* the line */
.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5
}

/* timeline items */
.timeline ul{
    margin: 0;
    padding: 40px 0;
}

/* invidual items */
.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

/* items on the left side  */
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

/* items on the right side  */
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

/* each timeline item  */
.content-tl{
    padding-bottom: 20px;
}

/* the circles */
.timeline ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

/* the circles */
.timeline ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

/* the title of item in timeline  */
.timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233, 33, 99, 1);
}

/* the description of item in timeline  */
.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}

/* the year in the timeline  */
.timeline ul li .time-tl h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* the year in the timeline placed on right */
.timeline ul li:nth-child(odd) .time-tl{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);;
}

/* the year in the timeline placed on left */
.timeline ul li:nth-child(even) .time-tl{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);;
}

/* about */
#about{
    /* background-color: pink; */
    /* margin: auto; */
    padding: 5px;
}

.about-info{
    text-align: left;
}

#about img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 1.0em auto;
}

/* SKILLS  */

/* the skills section box  */
.skillsBox{
    position: relative;
    /* width: 600px; */
    /* padding: 50px; */
    margin-top: 3.0em;
    /* background: #0c1856; */
    display: flex;
    flex-flow: row wrap;
}

/* the skill title  */
.skillsBox h1{
    margin: 0 0 20px;
    padding: 0;
    color: black;
}

/* each indivial skill  */
.skills{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

/* the title of skill  */
.skills h2{
    margin: 10px 0 0;
    padding: 0;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}

/* the perecent bar  */
.progress{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    line-height: 22px;
    color:black;
    overflow: hidden;
}

/* the bar text  */
.progress .percent{
    text-align: right;
    color: black;
    padding-right: 10px;
    border-right: 2px solid black;
    animation: skillsAnimate .5s linear infinite;
    background: linear-gradient(45deg, rgba(0, 0, 0, .25) 25%,
        transparent 25%, transparent 50%, rgba(0, 0, 0, .25) 50%,
        rgba(0, 0, 0, .25) 75%, transparent 75%, transparent);

    /* background-color: green; */
    background-size: 50px 50px;
}

/* the skills animation  */
@keyframes skillsAnimate{
    0%{
        background-position: 0 0;
    }

    100%{
        background-position: 30px 0;
    }
}

/* contact */
#contact{
    background-color: lightgrey;
    margin-bottom: 2.0em;
}

.contact-item{
    line-height: 1.5em;
}

/* the contact info  */
.contact-info{
    margin-top: 1.0em;
}

/* the contact info pieces  */
.contact-info p{
    padding: 0.5em 0;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

form .submit{
    background: #ff5722;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}

/* quote */
.quote{
    text-align: center;
    background-color: pink;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.quote h1{
    font-size: 36px;
}

/* footer */
footer{
    background-color: yellow;
}

.footer-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 2.0em 5.0em;
    background-color: white;
  }

/* Media queries - responsive web design for specific widths */


/* THE NORMAL  */
@media  screen and (max-width: 1000px){
    /* timeline width on screen  */
    .timeline{
        width: 100%;
    }

    /* PROJECTS  */
   
    
    .proj-img{
        width: 400px;
        height: 400px;
    }

    .proj-container {
        padding: 2.0em;
    }

    /* QUOTE  */
   
    .quote h1{
        font-size: 32px;
    }
}

/* ADJUSTED SCREEN - MEDIUM*/

@media  screen and (max-width: 800px){
    /* HEADER  */
    /* the header on top of page  */
    #header h1{
        font-size: 72px;
    }

    #header h2{
        font-size: 20px;
    }

    /* the logo  */
    .logo{
        height: 100px;
        width: 100px;
    }

    /* NAVIGATION  */
    /* nav bar links  */
    .navbar a{
        font-size: 14px;
    }

    /* PROJECTS */
    
    .myProjects{
        flex-flow: column nowrap;
        justify-content: center;
    }

    /* .proj-img{
        width: 500px;
        height: 500px;
    } */

    .project{
        width: 400px;
        margin: 0 auto;
        margin-bottom: 2.0em;
    }

    .process-desc, .contact-item, .about-info{
        flex-flow: column nowrap;
    }

    .process-desc p, .process-desc h2{
        text-align: center;
    }

    #projects p, #process p, #about p{
        font-size: 14px;
    }

    /* PROCESS   */
    .process-desc figure{
        display: none;
    }

    .process-icon{
        display: inline-block;
        margin-bottom: 0.25em;
    }

    /* QUOTE  */
    .quote{
        height: 300px;
    }
    .quote h1{
        font-size: 24px;
    }

    /* PROCESS  */
    
    /* TIMELINE STUFF / RESUME  */
    /* the timeline line  */

    /* timeline width on screen  */
    .timeline{
        width: 100%;
        padding-bottom: 0;
    }

    .timeline::before{
        left: 20px;
    }

    /* the timeline items  */
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even){
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    /* the circles  */
    .timeline ul li:nth-child(odd)::before,
    .timeline ul li:nth-child(even)::before{
        top: -18px;
        left: 16px;
    }

    /* the month/year on item in timeline */
    .timeline ul li:nth-child(odd) .time-tl,
    .timeline ul li:nth-child(even) .time-tl{
        top: -30px;
        left: 50px;
        right: inherit;
    }

    /* ABOUT  */
    .about-info{
        text-align: center;
    }

    #about img{
        width: 200px;
        height: 200px;
    }

    /* SKILLS  */
    .skillsBox h1{
        font-size: 28px;
    }

    .skillsBox h2{
        font-size: 18px;
    }

    /* CONTACT  */
    .form-control{
        width: 400px;
    }

    /* ETC  */
    /* BACK TOP BTN  */
    #backTopBtn{
        width: 65px;
        height: 65px;
        font-size: 10px;
    }

    /* IMAGES */
    .uxImg{
        height: 300px;
    }

    .contactImg{
        height: 300px;
    }

    .stock-img{
        font-size: 10px;
    }
}

/* ADJUSTED SCREEN - SMALL*/
@media screen and (max-width: 600px){
    /* HEADER  */

    /* LOGO  */

    /* NAVBAR  */
    /* the nav bar iteself  */
    .navbar{
        text-align: right;
        display: block;
        margin-right: 0.5em;
    }

    /* the nav bar links  */
    .navbar a {
        display: none;
    }

    /* the hamburger icon  */
    .navbar a.icon {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        color: #283891;
    }

    .navbar a.icon:hover{
        color: blue;
    }

    /* PROJECTS  */

    .proj-img{
        width: 400px;
        height: 400px;
    }

    .project{
        width: 400px;
    }

    #projects p, #process p, #about p{
        font-size: 16px;
    }

    /* QUOTE  */
    .quote{
        height: 200px;
    }

    .quote h1{
        font-size: 18px;
    }

    /* PROCESS  */

    /* RESUME  */

    /* ABOUT  */

    /* SKILLS  */
    .skillsBox h1{
        font-size: 20px;
    }

    .skillsBox h2{
        font-size: 14px;
    }

    /* CONTACT  */

    #contact p{
        font-size: 16px;
    }

    .contact-info{
        font-size: 14px;
    }

    .form-control{
        width: 250px;
    }

    /* ETC  */
}

/* WIDTH SIZE SMALLEST  */
@media screen and (max-width: 500px){
    /* HEADER  */
    #header h1{
        font-size: 48px;
    }

    #header h2{
        font-size: 14px;
    }

    /* NAVAGATION  */

    /* PROJECTS  */
    #projects p, #process p, #about p{
        font-size: 12px;
    }

    .proj-img{
        width: 350px;
        height: 350px;
    }

    .project{
        width: 350px;
    }

    .process-desc p, .about-info p{
        text-align: left;
    }

    /* QUOTE  */
    .quote h1{
        font-size: 14px;
    }

    .quote p{
        font-size: 12px;
    }
    
    /* PROCESS  */

    /* RESUME  */
    #resume h1{
        font-size: 36px;
    }

    #resume h2{
        font-size: 18px;
    }

    /* ABOUT  */

    /* CONTACT  */
    #contact p{
        font-size: 14px;
    }

    .contact-info{
        font-size: 16px;
    }

    /* ETC  */
    
    /* CONTAINER  */
    .container, .proj-container{
        padding: 2.0em 0.5em;
    }

    .footer-container {
        padding: 2.0em 0.5em;
    }

    /* IMAGES */
    .uxImg{
        height: 200px;
    }

    .contactImg{
        height: 200px;
    }

    .stock-img{
        font-size: 10px;
    }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, 
so they don't overlap */
@media screen and (max-height: 450px) {
    /* HAMBURGER CLOSE  */
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

/* MOBILE IPHONE 6/7/8  */
@media  screen and (max-width: 375px){
    /* HEADER  */
    /* the header on top of page  */
    #header h1{
        margin-top: 0;
        font-size: 36px;
    }

    #header h2{
        font-size: 12px;
    }

    /* the logo  */
    .logo{
        height: 75px;
        width: 75px;
    }

    /* NAVIGATION  */

    /* PROJECTS */
    .proj-img{
        width: 300px;
        height: 300px;
    }

    .project{
        width: 300px;
    }

    .process-desc h2{
        padding-bottom: 0.5em;
    }

    /* QUOTE  */
    .quote h1{
        font-size: 12px;
    }

    .quote p{
        font-size: 10px;
    }

    /* PROCESS   */
    
    /* RESUME  */
    #resume h1{
        font-size: 28px;
    }

    #resume h2{
        font-size: 14px;
    }

    .time-tl h4{
        font-size: 14px;
    }

    .content-tl h3{
        font-size: 14px;
    }

    .content-tl p{
        font-size: 12px;
    }

    /* ABOUT  */

    /* CONTACT  */

    /* ETC  */

    /* CONTAINER  */
    .container, .proj-container{
        padding: 2.0em 0;
    }

    .footer-container {
        padding: 2.0em 0;
    }
    
    /* DIVIDING SECTIONS  */
    .uxImg{
        height: 200px;
        background-attachment: scroll;
        background-position: right;
    }

    .contactImg{
        height: 200px;
    }

    .stock-img{
        font-size: 10px;
    }  
}