/* DEFAULT STUFF  */
/* CONTAINER  */
.container {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 2.0em 15.0em;
}

.container-color{
  background-color: #f2f4ff;
}

/* COLOUMN  */
.col{
  flex: 1;
  padding: 1em;
}

.no-pad-col{
  flex: 1;
}

/* IMAGES  */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* BANNER IMG  */
#banner-img{
  display: block;
  width: 700px;
  margin: 0 auto;
}

/* MORE PROJECTS  */
#hammer{
  margin-top: 1.0em;
  width: 250px;
  border-radius: 10px;
}

#hammer:hover{
  opacity: 0.7;
}

/* FIG IMGS  */
#mvp-fig, #imp-fig, #research-fig, #persona-fig{
  width: 1000px;
  margin: 4.0em auto 0;
}

/* PROTOTYPE FIGURE  */
.proto-desc{
  width: 1000px;
  margin: 4.0em auto 0;
}

.proto-desc img{
  display: block;
  margin: 0 auto;
  width: 400px;
}

/* SECTIONS ON PAGE  */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* banner  */
.banner{
  width: 100%;
  background-color: #283891;
  margin: 1.0em 0 0;
}

/* OVERVIEW  */
.overview{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

.overview-row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.summary{
  margin-right: 6.0em;
}

#extra-para{
  margin-bottom: 2.0em;
}

.role{
  margin-left: 6.0em;
}

.position{
  margin-bottom: 3.0em;
}

/* BACKGROUND */
.background{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

.background-info{
  text-align: left;
  line-height: 2.0em;
}

.achievements{
  text-align: left;
  line-height: 2.0em;
  padding: 4.0em 0 0;
}

.achievements ul, .takeaway ul, .research ul, .vision ul{
  width: 95%;
  margin: 1.0em auto 0;
}

.achievements ul li, .takeaway ul li, .research ul li, .vision ul li{
  margin-top: 1.0em;
}

.achievements h1{
  text-align: center;
  font-size: 24px;
}

/* RESEARCH */
.research{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

.research-insight{
  margin-top: 3.0em;
}

/* PERSONA */
.persona{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

/* STATEMENT */
.statement{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

/* VISION */
.vision{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

iframe{
  display: block;
  width: 1000px;
  height: 600px;
  margin: 4.0em auto 0;
}

/* MARKET  */
.market{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

/* COMPETITION  */
.competitor{
  margin-top: 2.0em;
}

.competitor h2{
  text-decoration: underline;
}

.competitor h2, .competitor h3{
  text-align: center;
}

.pro-con{
  display: flex;
  flex-flow: row nowrap;
}

.pro-con ul{
  width: 300px;
  margin: 0 auto;
}

/* DESIGN */
.design{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

.proto-para{
  text-align: left;
  line-height: 2.0em;
}

.proto-para h3{
  margin-bottom: 0.25em;
}

/* MVP */
.mvp{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

/* IMPLEMENTATION */
.implementation{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

/* TAKEAWAY */
.takeaway{
  text-align: left;
  line-height: 2.0em;
  padding: 8.0em 0;
}

/* MORE PROJECTS  */
.proj{
  border-top: solid;
  padding: 2.0em 0 4.0em;
}

/* ETC  */
figcaption{
  text-align: center;
}

#light-head{
  color: black;
  opacity: 75%;
}

#concept-vid{
  margin-top: 1.0em;
  color: blue;
}

#concept-vid:hover{
  color: #283891;
  cursor: pointer;
}

/* MEDIA QUERIES - responsive web design for specific widths */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* THE NORMAL  */
@media  screen and (max-width: 1000px){
  /* DEFAULT STUFF  */
  .container{
    padding: 2.0em 4.0em;
  }

  /* IMAGES */

  /* banner */
  #banner-img{
    width: 500px;
  }

  /* figures  */
  #mvp-fig, #imp-fig, #research-fig, #persona-fig{
    width: 800px;
  }

  /* OVERVIEW  */
  .summary{
    margin-right: 2.5em;
  }
  
  .role{
    margin-left: 2.5em;
  }

  /* ROLE  */

  /* BACKGROUND */

  /* ACHIEVEMENTS */
  .achievements ul .takeaway ul, .research ul, .vision ul{
    width: 90%;
  }

  /* RESEARCH */

  /* PERSONA */

  /* STATEMENT */

  /* VISION */

  /* MARKET  */

  /* MVP */

  /* DESIGN */
  .proto-desc{
    width: 800px;
  }

  /* IMPLEMENTATION */

  /* TAKEAWAY */

  /* ETC  */
  iframe{
    width: 800px;
    height: 500px;
  }
}

/* ADJUSTED SCREEN - MEDIUM*/
@media  screen and (max-width: 800px){
  /* DEFAULT STUFF  */

  /* IMAGES */
  /* figures  */
  #mvp-fig, #imp-fig, #research-fig, #persona-fig{
    width: 650px;
  }

  /* OVERVIEW  */
  .overview p{
    font-size: 14px;
  }
  
  .overview-row{
    display: block;
  }

  .summary{
    margin-right: 0;
  }
  
  .role{
    margin: 2.0em 0 0;
  }
  
  .position{
    margin: 0 0 2.0em;
  }

  /* ROLE  */

  /* BACKGROUND */
  .background p{
    font-size: 14px;
  }

  /* ACHIEVEMENTS */
  .achievements ul .takeaway ul, .research ul, .vision ul{
    font-size: 14px;
    width: 85%;
  }

  /* RESEARCH */
  .research p{
    font-size: 14px;
  }

  /* PERSONA */
  .persona p{
    font-size: 14px;
  }

  /* STATEMENT */
  .statement{
    font-size: 14px;
  }

  /* VISION */
  .vision p{
    font-size: 14px;
  }

  /* MARKET  */
  .market p{
    font-size: 14px;
  }

  .competitor{
    margin: 2.0em auto 0;
    padding: 2.0em 2.0em 0;
  }

  .competitor ul{
    font-size: 14px;
  }

  /* MVP */
  .mvp p{
    font-size: 14px;
  }

  /* DESIGN */
  .design p{
    font-size: 14px;
  }

  .proto-desc{
    width: 650px;
  }

  /* IMPLEMENTATION */
  .implementation p{
    font-size: 14px;
  }

  /* TAKEAWAY */
  .takeaway p{
    font-size: 14px;
  }

  /* MORE PROJ  */
  .proj p{
    font-size: 14px;
  }
  
  /* ETC  */
  figcaption{
    font-size: 14px;
  }

  iframe{
    width: 650px;
    height: 400px;
  }

  #hammer{
    width: 200px;
  }
}

/* ADJUSTED SCREEN - SMALL*/
@media screen and (max-width: 600px){
  /* DEFAULT STUFF  */
  .container{
    max-width: 600px;
    padding: 2.0em 1.5em;
  }

  /* IMAGES */
  #mvp-fig, #imp-fig, #research-fig, #persona-fig{
    width: 550px;
  }

  /* OVERVIEW  */
  .overview p{
    font-size: 12px;
  }

  /* ROLE  */

  /* BACKGROUND */
  .background p{
    font-size: 12px;
  }

  /* ACHIEVEMENTS */
  .achievements ul .takeaway ul, .research ul, .vision ul{
    font-size: 12px;
  }

  /* RESEARCH */
  .research p{
    font-size: 12px;
  }

  /* PERSONA */
  .persona p{
    font-size: 12px;
  }

  /* STATEMENT */
  .statement p{
    font-size: 12px;
  }

  /* MARKET  */
  .market p{
    font-size: 12px;
  }

  .competitor ul{
    font-size: 12px;
  }

  .pro-con{
    display: block;
  }

  .pro-con ul{
    padding: 0 2.0em;
  }
  
  /* VISION */
  .vision p{
    font-size: 12px;
  }

  /* MVP */
  .mvp p{
    font-size: 12px;
  }

  /* DESIGN */
  .design p{
    font-size: 12px;
  }

  .proto-desc{
    width: 550px;
  }

  /* IMPLEMENTATION */
  .implementation p{
    font-size: 12px;
  }

  /* TAKEAWAY */
  .takeaway p{
    font-size: 12px;
  }

  /* MORE PROJ  */
  .proj p{
    font-size: 12px;
  }

  /* ETC  */ 
  figcaption{
    font-size: 12px;
  }
  
  iframe{
    width: 550px;
    height: 400px;
  }
}

/* WIDTH SIZE SMALLEST  */
@media screen and (max-width: 500px){
  /* DEFAULT STUFF  */
 
  /* IMAGES */
  #mvp-fig, #imp-fig, #research-fig, #persona-fig{
    width: 450px;
  }

  /* OVERVIEW  */
  .overview, .background, .research, .persona, .statement, .vision, .market, .mvp, .design, .implementation, .takeaway{
    padding: 4.0em 0;
  }
  /* ROLE  */

  /* BACKGROUND */

  /* ACHIEVEMENTS */

  /* RESEARCH */

  /* PERSONA */

  /* STATEMENT */

  /* VISION */

  /* MARKET  */
  
  /* MVP */

  /* DESIGN */
  .proto-desc{
    width: 450px;
  }

  .proto-desc img{
    width: 350px;
  }

  /* IMPLEMENTATION */

  /* TAKEAWAY */

  /* ETC  */
  iframe{
    width: 450px;
    height: 300px;
  }
}

/* MOBILE IPHONE 6/7/8  */
@media screen and (max-width: 400px){
  /* DEFAULT STUFF  */
  .container{
    max-width: 375px;
  }

  /* IMAGES */
  #banner-img{
    width: 350px;
  }

  #mvp-fig, #imp-fig, #research-fig, #persona-fig{
    width: 325px;
  }

  /* OVERVIEW  */
  .overview, .background, .research, .persona, .statement, .vision, .market, .mvp, .design, .implementation, .takeaway{
    padding: 2.0em 0;
  }

  /* ROLE  */

  /* BACKGROUND */

  /* ACHIEVEMENTS */
  .achievements h1{
    text-align: left;
  }

  .achievements ul .takeaway ul, .research ul, .vision ul{
    width: 75%;
    padding: 0;
  }

  /* RESEARCH */

  /* PERSONA */

  /* STATEMENT */

  /* VISION */

  /* MARKET  */
  .pro-con ul{
    width: 275px;
  }
  
  /* MVP */

  /* DESIGN */
  .proto-desc{
    width: 325px;
  }

  .proto-desc img{
    width: 300px;
  }

  /* IMPLEMENTATION */

  /* TAKEAWAY */

  /* ETC  */
  figcaption{
    text-align: left;
  }

  iframe{
    width: 325px;
    height: 300px;
  }
}