/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Browser Upgrade Prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

/* GENERAL */
.container {
  max-width: 1250px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 2.0em 5.0em;
  background-color: #003399;
  border-radius: 15px;
}

.container p{
  max-width: 900px;
  margin: 0 auto 30px;
  line-height: 1.5em;
}

/*
    STRUCTURE
*/
body{
  /* received from toptal */
  background: url("../images/polaroid.png");
}


/*
    TYPOGRAPHY
*/
h1, h2, h3, h4, h5, h6, p, figcaption{
  color: white;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
}

p, li, figcaption, a{
  font-family: 'Zilla Slab', serif;
}

/*
    IMAGES
*/
img {
    width: 100%;
    display: block;
}

/* clearfix - in case you decide to float elements */
.group::after {
  content: "";
  display: table;
  clear: both;
}

/*
    LINKS
*/


/*
    TABLES
*/


/*
    HOME SUMMARY
*/

.home-summary h1{
  font-weight: bold;
  font-size: 48px;
}

.home-summary h3{
  margin-bottom: 2.0em;
  font-style: italic;
  font-size: 28px;
}



/*
    ABOUT
*/
.story h1{
  margin-bottom: 1.0em;
}
.contact-info{
  border-top: 2px solid white;
  margin-top: 3.0em;
  padding-top: 3.0em;
}

.contact-info .fa-linkedin{
  color: white;
}

.contact-info .fa-linkedin:hover{
  opacity: 0.7;
}

.story h1{
  padding-left: 15px;
  text-align: left;
}

.column {
  float: left;
  width: 33.33%;
  text-align: left;
  padding: 0 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*
    RESUME
*/
.res-container {
  max-width: 1250px;
  display: block;
  margin: 0 auto;
  padding: 2.0em 7.0em;
  background-color: #003399;
  border-radius: 15px;
}

.res-intro{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 2.0em 0 5.0em 0;
  border: 1px solid white;
  border-radius: 15px;
  background: #66CCFF;
}

.res-intro h1{
  color: black;
}

.res-dl {
  border: 2px solid white;
  color: black;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  margin-top: 2.0em;
}

.res-dl:hover{
  background-color: white;
  color: black;
}

.res-contact{
  margin-top: 5.0em;
  text-align: center;
}

.res-container h4{
  border-bottom: 1px solid white;
}

.res-container li{
  color: white;
  margin-bottom: 1.0em;
}

.res-container section{
  margin-bottom: 3.0em;
}

.res-column1{
  float: left;
  width: 50%;
  text-align: left;
}

.res-column2{
  float: right;
  width: 50%;
  text-align: right;
}

/* Clear floats after the columns */
.res-row:after {
  content: "";
  display: table;
  clear: both;
}
/*
    PROJECTS
*/
.projects{
  margin-top: 3.0em;
  border-top: 2px solid white;
  padding-top: 3.0em;
}

.proj-desc{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

figure h3{
  color: black;
}

.proj-desc section{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.proj-desc figure {
  margin: 0 0.5em 1.0em;
  padding: 0;
  border-radius: 15px;
  background: #66CCFF;
  flex: 1 0 250px;
}

figcaption {
  margin: 0.5em;
  text-align: center;
  padding-left: 0.5em;
  color: black;
}

figure img{
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.java a{
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  color: yellow;
}

.java a:hover{
  text-decoration: underline;
  text-decoration-color: yellow;
}
.proj-desc #proj_img:hover {
  opacity: 0.7;
}

.web, .java{
  margin-top: 3.0em;
  border-top: 2px solid white;
  padding-top: 3.0em;
}
/*
    NAV
*/

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

nav{
  margin-bottom: 5.0em;
}

/* the entire navigation bar */
.navbar{
  width: 100%;
  overflow: hidden;
  height: 120px;
  line-height: 70px;
  background: #fff;
  border-bottom: 2px solid  #003399;
}

/* the logo image */
.logo{
  width: 200px;
  float: left;
}

/* holds logo and links */
.nav_container {
  width: 75%;
  margin: 0 auto;
}

/* the links */
.topnav{
  float: right;
}

/* links list */
.topnav a, .dropdown{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 22px 36px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

/* which link is active */
.topnav .active {
  text-decoration: underline;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: 'Zilla Slab', serif;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* hovering over list item */
.topnav a:hover{
  color:  #66CCFF;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*
    FOOTER
*/
footer{
  margin-top: 10.0em;
  border-top: 2px solid  #003399;
}
footer p{
  color: black;
}

.footer-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 2.0em 5.0em;
  background-color: white;
}

/*
    MODAL Image
*/
/* Style the Image Used to Trigger the Modal */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*
    PROCESS
*/
.process{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* circle */
.circle{
  width: 200px;
  height: 200px;
  text-align:center;
  line-height:0;
  padding: 100px 0;
  border-radius: 100px;
  background:#66CCFF;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
  letter-spacing: 1px;
}

.process div{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  /* margin: 1.0em 0; */
}

.research p, .concept p, .prototype p{
  text-align: left;
  padding: 10px 0 0 25px;
}

.research, .insight, .concept, .iterate{
  margin-bottom: 2.0em;
}

.insight p, .iterate p{
  text-align: right;
  padding: 10px 25px 0 0;
}

.process-icon{
  color: white;
}

.principles img{
  width: 750px;
  margin: 0 auto;
  border-radius: 20px;
}

.principles{
  margin-bottom: 4.0em;
}

.principles img{
  margin: 1.0em auto;
}

/*
    RHINO HAMMER and BARGAIN BOOKS
*/

.proj-prototype a{
  text-decoration: none;
  color: yellow;
}

.proj-prototype a:hover{
  text-decoration: underline;
  text-decoration-color: yellow;
}

.proj-over section{
  text-align: left;
  margin-bottom: 2.0em;
}

#rhino, #bargain{
  height: 500px;
  width: 500px;
  border-radius: 15px;
  margin: 0 auto;
}

.head-img{
  background-color: white;
  border-radius: 15px;
  margin: 0 auto 2.0em;
}

.proj-over h1{
  text-decoration: underline;
  font-size: 28px;
}

.proj-over h1, .proj-over h3{
  font-family: 'Poppins', sans-serif;
}

.proj-over h3{
  font-size: 18px
}

.proj-over p, .proj-over li, .proj-over figcaption, .proj-over a{
  font-family: 'Zilla Slab', serif;
  font-size: 18px;
}

.proj-over .container p, .proj-over .container h1, .proj-over .container h3{
  max-width: 1000px;
  margin: 0 30px;
}

.proj-concept ul, .proj-research ul{
  list-style:initial;
  color: white;
  padding-left: 75px;
  margin: 3.0em 0;
}

.proj-proc div{
  margin: 1.0em 0;
}

#example{
  margin: 0 auto 5.0em;
}

#example ul{
  margin: 0;
}

.proj-insight img{
  width: 400px;
  height:400px;
  margin: 0 auto;
}

.persona{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

iframe{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 560px;
  height: 315px;
  frameborder: 0;
}

.proj-prototype img, .proj-research img, .proj-iterate img{
  width: 500px;
  height: 500px;
  margin: 2.0em auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

a.prev, a.next{
  color: white;
}

#slide-img{
  width: 100%;
}
a.prev:hover, a.next:hover{
  text-decoration: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.proj-prototype .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* MEDIA QUERIES */
/* X-Small devices (portait phones, less than 576px) */
/* All styles up to this point in the stylesheet are for X-Small */

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 1250px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }

  .nav_container{
    width: 90%;
  }
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* body { background-color: orange; } */

    /* about */
    .column {
      width: 100%;
    }

    /* navigation */
    .logo{
      width: 200px;
    }

    /* footer */
    footer p, address{
      font-size: 14px;
    }

    /* general */
    p{
      font-size: 16px;
    }

    /* resume */
    .res-intro h1{
      font-size: 18px;
    }

    .res-dl {
      font-size: 16px;
    }

  /* process */
    .principles img{
      width: 400px;
    }

  /* rhino hammer and bargain books */
    #rhino, #bargain{
      height: 350px;
      width: 350px;
    }

    .proj-insight img{
      width: 400px;
      height:400px;
    }

    iframe{
      width: 450px;
      height: 315px;
    }

    .proj-prototype img, .proj-research img, .proj-iterate img{
      width: 350px;
      height: 350px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* body { background-color: green; } */

    /* home page */
    footer p, address{
      font-size: 18px;
    }

    figcaption, .projects p, .home-summary p{
      font-size: 20px;
    }

    figure img{
      width: 350px;
      height: 350x;
    }

    /* general */
    p{
      font-size: 18px;
    }

    /* resume */
    .res-intro h1{
      font-size: 28px;
    }

    .res-dl {
      font-size: 20px;
    }

    .res-container p, li{
      font-size: 18px;
    }
    /* rhino hammer and bargain book page */
    .proj-over p, .proj-over li, .proj-over figcaption, .proj-over a{
      font-size: 22px;
    }

    .proj-over h1{
      text-decoration: underline;
      font-size: 32px;
    }

    .proj-over h3{
      font-size: 24px;
    }

    #rhino, bargain{
      height: 400px;
      width: 400px;
    }

    .proj-insight img{
      width: 500px;
      height:500px;
    }

    iframe{
      width: 550px;
      height: 400px;
    }

    .proj-prototype img, .proj-research img, .proj-iterate img{
      width: 400px;
      height: 400px;
    }

    /* process */
    .principles img{
      width: 500px;
    }

    .home-summary h1{
      font-size: 36px;
    }

    .home-summary h3{
      font-size: 24px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* body { background-color: blue; } */
    /* navigation */
    .nav_container {
      width: 90%;
    }

    /* home */


    /* rhino and bargain */
    iframe{
      width: 750px;
      height: 500px;
    }

    .proj-prototype img, .proj-research img, .proj-iterate img{
      width: 450px;
      height: 450px;
    }

    /* process */
    .principles img{
      width: 500px;
    }

    .home-summary h1{
      font-size: 36px;
    }

    .home-summary h3{
      font-size: 24px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* body { background-color: purple; } */

    /* about */
    .column {
      width: 33.33%;
    }

    /* rhino and bargain */
    iframe{
      width: 900px;
      height: 500px;
    }

    /* resume */
    .res-intro h1{
      font-size: 32px;
    }

    .res-dl {
      font-size: 24px;
    }

    .res-container p, li{
      font-size: 20px;
    }
}
