/* box sizing */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* hides an element, but not from screen readers */
.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}

/* no break */
.nobr {
  white-space: nowrap;
}

/* clear fix - removes floats and returns to standard 'stacking block' flow */
.group:after { content: ""; display: table; clear: both; }

/* STRUCTURE */
body{
  background-color: #FFFF00;

}

.container {
  width: 1200px;
  margin: 50px auto; /* centers content */
  border: 5px solid black;
  padding: 50px;
  background-color: white;
}

/* TYPOGRAPHY */
h1, h2, h3, h4{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h1{
  font-size: 60px;
}

p, li, td, figcaption, small{
  font-family: Verdana, Geneva, sans-serif;
}

/* LINKS */
a:link, a:visited {
  color:#DB2017;
  text-decoration: none;
}

a:hover, a:active{
  color: #5500F6;
  text-decoration: underline;
}

/* IMAGES */
img{
  display: block;
  width: 100%;
}

/* TABLES */

/* referenced website to edit table */
/* https://css-tricks.com/table-borders-inside/ */

table{
  border-collapse: collapse;
  border-style: hidden;
  margin-top: 3.0em;
}

td {
  padding: 0 1.0em;
  border: 1px solid black;
}

/* RECIPE PAGE */
ul li{
  line-height: 2.0em;
}

ol li{
  margin-bottom: 1.5em;
  line-height: 1.25em;
}

.right{
  float: right;
  width: 45%;
  margin-right: 5.0em;
}

.ingredients{
  margin-bottom: 4.0em
}

.note{
  line-height: 2.0em;
  float: left;
  width: 35%;
  background-color: #F5F5F5;
  margin: 2.0em 0 4.0em 2.0em;
  padding: 1.0em 1.0em;
  border: 4px outset;
}

#recipe{
  margin-top: 5.0em;
  border-top: 5px solid black;
}

.roll{
  margin: 4.0em 0 6.0em 0;
}

.info{
  margin:1.5em 0 4.0em 0;
  line-height: 1.3em;
  background-color: #F5F5F5;
  padding: .25em 1.0em;
}
