/* <!--
  I360 Web Design
  PROJECT 3

  Jeffrey Tran
  jefftran
  3/29/2019
--> */

/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Browser Upgrade Prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Buttons */
.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #fff !important;
  background-color: #d42a3a;
  text-align: center;
  letter-spacing: .5px;
  padding: 0 2rem;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  outline: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.button:hover {
  background-color: #ed344a;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  outline: 0;
}

/*
  General
*/

/* IU CREAM COLOR */
/* rgb(237, 235, 235) */

/* IU CRIMSON COLOR */
/* rgb(169, 5, 51) */

body{
  background-color: rgb(237, 235, 235);
}

.container {
  max-width: 1050px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 2.0em 0.5em;
}

/* no break */
.nobr {
    white-space: nowrap;
}

/*
    STRUCTURE
*/


/*
    TYPOGRAPHY
*/

h1, h2, h3{
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

p, li, label, figcaption{
  font-family: 'Marcellus', serif;
}

/*
    IMAGES
*/

img {
    width: 100%;
}


/* clearfix - in case you decide to float elements */
.group::after {
  content: "";
  display: table;
  clear: both;
}

/*
    LINKS
*/


/*
    TABLES
*/


/* Navigation */
nav {
  background: linear-gradient(to top right, rgba(169, 5, 51, 1.0), rgba(237, 23, 76, 1.0));
}

nav .container {
  padding: 0.5em 0.5em;
}

.logo img {
  width: 300px;
  margin-bottom: 2.0em;
}

nav ul {
  margin:1.0em 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

nav ul li a {
  text-decoration: none;
  font-weight: normal;
  color: rgb(237, 235, 235);
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li:first-child { padding-left: 0; }
nav ul li:last-child { padding-right: 0; }

/*
    SECTION - JOIN
*/

.join{
  background-color: white;
  margin-bottom: 2.0em;
}
.join .container{
  display: flex;
  justify-content: space-between;
}

/* Header */
header {
  background: url('../images/iu.jpg') no-repeat left center fixed;
  background-size: cover;

}

.branding {
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding: 0.5em 0 1.5em;
  background-color: rgb(0, 0, 0, 0.5);

}

.branding h1, .branding p {
  text-shadow: 2px 2px 4px black;
}

/*
    MAIN - MENU
*/
.menu{
  margin-bottom: 2.0em;
  background-color: rgb(0, 57, 76);
}
.menu p{
  text-shadow: none;
  font-size: 18px;
  border-bottom: 2px rgb(237, 235, 235) solid;
  padding-bottom: 1.0em;
}

.menu p, h2{
  color:rgb(237, 235, 235);
}

.choices figure {
  margin: 0 0.5em 1.0em;
  padding: 0;
  border-radius: 5px;
  background: linear-gradient(to top right, rgba(169, 5, 51, 1.0), rgba(237, 23, 76, 1.0));
  flex: 1 0 250px;
  color:rgb(237, 235, 235);
}

figcaption {
  margin: 0.5em;
  text-align: center;
  padding-left: 0.5em;
  font-size: 18px;
}

.choices img:hover {
  opacity: 0.9;
}

.menu .choices{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.choices section{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/*
    MAIN - DEALS
*/
.deals .button{
  width: 25%;
  margin: auto;
}

.deals .button:hover {
  background-color: rgb(237, 23, 76);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  outline: 0;
  color: #EDEBEB !important;
}
/* <!-- Learned how to make Slideshow with https://www.w3schools.com/howto/howto_js_slideshow.asp --> */

/* Hide the images by default */
.mySlides {
  display: none;
  padding-bottom: 1.0em;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(237, 235, 235);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.deals{
  background-color: rgb(0, 57, 76);
  color: rgb(237, 235, 235);
  text-shadow: 2px 2px 4px black;
  margin-top: 2.0em;
}

.deals .container{
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin: auto;
}

.wings{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
/*
    SECTION - JOB
*/

.hours{
  background-color: rgba(0, 0, 0, 0.50);
  color: white;
}

.hours h2, p{
  text-shadow: 4px 4px 8px black;
}

.hours h2{
    padding: 0.5em 0;
}
.job{
  margin: 6.0em 0;
  /* <!-- Received image link from https://www.wingsxtremeiu.com/ --> */
  background: url('../images/hiring.jpg') no-repeat center fixed;
}

.job .button{
  margin-bottom: 2.0em;
}

/*
    SECTION - SOCIAL MEDIA
*/

.icons a{
  display: inline-block;
  margin: 0 20px 0.5em;
}

.facebook{
  color: #3C5A99;
}

.snapchat{
  color: #FFFC00;
}

.twitter{
  color: #38A1F3;
}

.social{
  background-color: white;
}

.social h2{
  color: black;
}
.social .container{
  display: flex;
  flex-flow: column nowrap;
}

.icons{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  margin: 0 5px;
}
/*
    FOOTER
*/

footer{
  background: linear-gradient(to top right, rgba(169, 5, 51, 1.0), rgba(237, 23, 76, 1.0));
}

/*
    ASIDE
*/

/* MEDIA QUERIES */
/* X-Small devices (portait phones, less than 576px) */
/* All styles up to this point in the stylesheet are for X-Small */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* body { background-color: orange; } */

    /* MENU */
    .choices section{
      flex-flow: column nowrap;
      margin: auto;
    }
    /* MENU */
    .choices img, figure{
      width: 400px;
    }

    /* MENU */
    .menu h2{
      font-size: 24px;
    }

    /* MENU */
    .menu p{
      font-size: 18px;
    }

    /* NAV */
    .logo img{
      width: 300px;
    }

    /* NAV */
    nav ul{
      max-width: 500px; margin: 0 auto;
    }

    nav ul li a{
      font-size: 12px;
    }

    /* JOIN */
    .join a, label{
      font-size: 12px;
    }

    .join .container{
      max-width: 500px;
    }
    /* Buttons */
    .button {
      height: 25px;
      line-height: 25px;
    }

    /* HEADER */
    .branding h1{
      font-size: 24px;
    }

    /* HEADER */

    header{
      background: url('../images/iu.jpg') no-repeat center bottom  fixed;
      background-size:
    }

    /* HEADER */
    .branding p{
      font-size: 18px;
    }

    /* DEALS, JOB, SOCIAL */
    .deals h2, .job h2, .social h2{
      font-size: 18px;
    }

    /* DEALS, JOB */
    .deals p, .job p, .hours p{
      font-size: 16px;
    }

    /* FOOTER */
    footer address{
      font-size: 16px;
    }

    /* FOOTER */
    footer p{
      font-size: 14px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* body { background-color: green; } */

    /* MENU */
    .choices img, width{
      width: 400px;
    }
    /* MENU */
    .menu h2{
      font-size: 28px;
    }
    /* MENU */
    .menu p{
      font-size: 24px;
    }
    /* NAV */
    .logo img{
      width: 450px;
    }

    /* NAV */
    nav ul{
      max-width: 600px; margin: 0 auto;
    }

    nav ul li a{
      font-size: 16px;
    }

    /* JOIN */
    .join a, label{
      font-size: 16px;
    }

    .join .container{
      max-width: 600px;
    }
    /* Buttons */
    .button {
      height: 35px;
      line-height: 35px;
    }

    /* HEADER */
    .branding h1{
      font-size: 28px;
    }

    /* HEADER */

    header{
      background: url('../images/iu.jpg') no-repeat bottom fixed;
      background-size: cover;
    }

    /* HEADER */
    .branding p{
      font-size: 24px;
    }

    /* DEALS, JOB, SOCIAL */
    .deals h2, .job h2, .social h2{
      font-size: 24px;
    }

    /* DEALS, JOB */
    .deals p, .job p, .hours p{
      font-size: 20px;
    }

    /* FOOTER */
    footer address{
      font-size: 18px;
    }

    /* FOOTER */
    footer p{
      font-size: 16px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* body { background-color: blue; } */
    /* MENU */
    .choices img, figure{
      width: 100%
    }

    /* MENU */
    .choices section{
      flex-flow: row nowrap;
    }
    /* MENU */
    .menu h2{
      font-size: 32px;
    }

    /* MENU */
    .menu p{
      font-size: 28;
    }
    /* NAV */
    .logo img{
      width: 650px;
    }

    /* NAV */
    nav ul{
      max-width: 800px; margin: 0 auto;
    }

    nav ul li a{
      font-size: 18px;
    }

    /* JOIN */
    .join a, label{
      font-size: 18px;
    }

    .join .container{
      max-width: 800px;
    }
    /* Buttons */
    .button {
      height: 35px;
      line-height: 35px;
    }

    /* HEADER */
    .branding h1{
      font-size: 36px;
    }

    /* HEADER */

    header{
      background: url('../images/iu.jpg') no-repeat left bottom fixed;
      background-size: cover;
    }

    /* HEADER */
    .branding p{
      font-size: 28px;
    }

    /* DEALS, JOB, SOCIAL */
    .deals h2, .job h2, .social h2{
      font-size: 28px;
    }

    /* DEALS, JOB */
    .deals p, .job p, .hours p{
      font-size: 24px;
    }

    /* FOOTER */
    footer address{
      font-size: 20px;
    }

    /* FOOTER */
    footer p{
      font-size: 18px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* body { background-color: purple; } */

    /* NAV */
    .logo img{
      width: 700px;
    }

    /* NAV */
    nav ul{
      max-width: 1000px; margin: 0 auto;
    }

    .join .container{
      max-width: 1000px;
    }
    /* Buttons */
    .button {
      height: 50px;
      line-height: 50px;

}
